body {
  font-family: Arial, sans-serif;
  background-color: #f0f8ff;
  margin: 0;
  padding: 0;
  text-align: center;
}
a{color:#E5CF85;
  text-decoration: none;}
a:hover{color: #E5CF85}
header {
  display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(1, 1fr);
    background-color: #800517;
    color: #E5CF85;
    font-family: 'Playfair Display', serif; 
    font-size: 3vw;
   
    
}
.home{
  grid-row: span 5/ span 5;
 

  
}
.about{
  grid-row: span 5/ span 5;
 
}
.icon{
   grid-row: span 5/ span 5;
}
.menu{
  grid-row: span 5/ span 5;

}

.contact{
   grid-row: span 5/ span 5;
   
}




h1 {
  color: #333;
}

button {
  background-color: #007BFF;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #0056b3;
}

#message {
  margin-top: 20px;
  color: green;
  font-weight: bold;
}
